<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>

    <div class="wrapper">

        <h2 class="footer-heading">{{site.title}}</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li class="p-name">{{site.owner.name}}</li>
                    <li class="u-address">{{site.owner.bio}}</li>
                    <li><a class="u-email" href="mailto:pikabh@naver.com">{{site.email}}</a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <li><a href="https://www.facebook.com/pikaybh"><svg class="svg-icon">
                                <use xlink:href="/assets/minima-social-icons.svg#facebook"></use>
                            </svg> <span class="username">{{site.facebook_username}}</span></a></li>
                    <li><a href="https://github.com/pikaybh"><svg class="svg-icon">
                                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
                            </svg> <span class="username">{{site.github_username}}</span></a></li>
                    <li><a href="https://instagram.com/pikaybh"><svg class="svg-icon">
                                <use xlink:href="/assets/minima-social-icons.svg#instagram"></use>
                            </svg> <span class="username">{{site.instagram_username}}</span></a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-3">
                <p>{{site.description}}</p>
            </div>
        </div>

    </div>

</footer>