.education {
    display: flex;
}

.logo-img {
    margin: auto;
}

.education-content {
    width: 450px;
    flex-direction: column;
    text-align: start;
}

.university {
    margin: 0 !important;
    font-size: 15.75px;
    font-weight: 600;
    padding: 0;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.course {
    margin: 15px auto 0 auto !important;
} 

.a-course {
    font-weight: 800;
}

.SW {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.badges {
    max-width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .education-content {
        width: 200px;
    }
}