ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.footer2home {
    color: #333333 !important;
}

.svg-icon {
    max-height: 18px;
    max-width: 18px;
}

.footer-col-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-col {
    flex-direction: row;
    width: 300px;
}

@media only screen and (max-width: 600px) {
    .footer-heading {
        margin-bottom: 0;
    }

    .footer-col-wrapper {
        flex-direction: column;
    }
}